<!DOCTYPE html>

<html>
    <head>

        <title> Car-Fabric-Network Application-Web </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    </head>

    <body>

        <div class="container">
            <br>
            <hr>
            <h1>자동차 조회 및 갱신 페이지</h1>
            <p>자동차 조회 혹은 갱신을 선택하세요.</p>
            <hr>

            <a href="./all-i.html" class="btn btn-success">자동차 조회</a>
            <br>
            <br>
            <a href="./all-a.html" class="btn btn-primary">자동차 가격 갱신</a>
            <br>
            <br>
        
    </body>

   
</html>