<!DOCTYPE html>

<html>
    <head>

        <title> Car-Fabric-Network Application-Web </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    </head>

    <body>

        <div class="container">
            <br>
            <hr>
            <h1>보험료 등록 페이지</h1>
            <p>IID, 보험료를 입력하세요.</p>
            <hr>

            <form method="post" action="/insurancecar">
                <label class="form-label">IID :</label>
                <input class="form-control" type="text" name="iid">
                <br>
                <label class="form-label">보험료 :</label>
                <input class="form-control" type="text" name="iprice">
                <br>
                <input type="submit" class="btn btn-warning" name="등록하기">
            </form>

            <div class="container" id="result"></div>
        </div>

        
    </body>

    <script>
        $(`#btn-insurancecar`).click(()=>{
            const iid = $(`#iid`).val()
            const iprice = $(`#iprice`).val()
            console.log(iid, iprice)

            $.post('/insurancecar', {iid, iprice}, (data,status)=>{

                const res = JSON.stringify(data.msg)

                $("#result").append(`<h3>${res}</h3>`)

                $(`#result`).append(`<p>IID : ${obj.iid}</p>`)
                $(`#result`).append(`<p>보험료 : ${obj.iprice}</p>`)
            })
        })
    </script>
</html>